body {
	background-color: #fff;
	color: #222;
	font-family: Cantarell sans-serif;
	padding: 0;
	margin: 0;
}

#content {
	height: 100%
}

html {
	height: 100%
}

a {
	color: #005386;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

img a:hover {
	text-decoration: none;
}

.button {
	background-color: #007dc1;
	border-radius: 3px;
	display: inline-block;
	cursor: pointer;
	color: #ffffff;
	font-family: Arial;
	font-size: 13px;
	padding: 12px 24px;
	text-decoration: none;
}

.button:hover {
	background-color:#0061a7;
	text-decoration: none;
}

.button:active {
	position:relative;
	top:1px;
}

.button-outline {
	background-color: #fff !important;
	color: #007dc1 !important;
	border: 1px dashed #007dc1 !important;
}

.button-outline:hover {
	border: 1px solid #007dc1 !important;
}

.emphasize {
	font-size: 110%;
}

#menu {
	clear: both;
	overflow: hidden;
	color: #069;
	background-color: #007dc1;
	padding: 0.7ex;
	font-size: 94%;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #069;
	text-decoration: none;
}

#menu a {
	padding: 0.5ex 1ex 0.5ex 1ex;
	color: #fff;
}

#menu a:hover {
	background-color: #069;
	text-decoration: none;
}

#menu a.thisSite {
	font-weight: bold;
}

#header {
	clear: both;
	color: #555;
	font-size: 1.78em; /*1.7em;*/
	padding: 0.7ex 0.7ex 0.7ex 0.7em;
}

#headerSubtitle {
	display: inline-block;
	vertical-align: middle;
	line-height: normal;
}

#headerLink {
	color: #17a; /*#666;*/
	margin-left: 5px;
}



h1 {
	margin: 1em 1ex 0.5ex 0;
	font-size: 1.4em;
}

h2 {
	margin: 1em 1ex 0.5ex 0;
	font-size: 1.3em;
}

h3 {
	margin: 1em 1ex 0.5ex 0;
	font-size: 1.0em;
}

h4 {
	margin: 1em 1ex 0.5ex 0;
	font-size: 0.9em;
}

#headerSubtitle {
	font-size: 0.75em;
	font-style: italic;
}

#content {
	clear: both;
	margin: 0;
	padding: 0;
	background-color: #fff;
	overflow: hidden;
}

#nav {
	background-color: #fff;
	float: left;
	margin: 0 1px 0 0;
	padding: 1em 0;
	width: 150px;
	height: 100%;
}

#nav ul {
	margin: 0;
	padding: 0;
}

#nav li {
	list-style: none;
	padding: 0;
	margin: 0;
}

#nav li ul {
  padding-left: 0.6em !important;
}

#nav li a {
	display: block;
	margin: 0;
	padding: 0.8ex 2em 0.8ex 1em;
}

#nav li a.thisPage {
	color: #222; /*#333;*/
	font-weight: bold;
	/*font-style: italic;*/
}

#main {
	margin: 0 0 0 150px;
	padding: 1.5em;
	max-width: 50em;
	border-left: 1px dotted #ccc;
	height: 100%
}

.left {
	float: left;
	margin: 0;
	padding: 0;
}

pre {
	font-family: monospace !important;
	padding-top: 2px !important;
	padding-bottom: 2px !important;
}

code {
	font-family: monospace !important;
	font-size: 120%;
	text-shadow: none !important;
}

:not(pre) > code {
	background-color: rgba(211, 211, 211, 0.5) !important;
	color: inherit !important;
	font-size: 110%;
}

